- photo = current_user.photo.attachment.nil? ? "https://demo.getstisla.com/assets/img/avatar/avatar-1.png" : current_user.photo
.container-fluid.p-0
  %section.section
    .section-header
      %h1 Perfil do Usuário
    .section-body
      %h2.section-title Olá, #{current_user.first_name}
      %p.section-lead
        Mude suas informações de perfil nessa página.

      .row.mt-sm-4
        .col-12.col-md-12.col-lg-5
          .card.profile-widget
            .profile-widget-header.custom-file
              = image_tag photo, :class => "rounded-circle profile-widget-picture"
              .profile-widget-items
                .profile-widget-item
                  .profile-widget-item-label Atividades
                  .profile-widget-item-value -
                .profile-widget-item
                  .profile-widget-item-label Pull Requests
                  .profile-widget-item-value -
                .profile-widget-item
                  .profile-widget-item-label Times
                  .profile-widget-item-value -
            .profile-widget-description
              .profile-widget-name
                = current_user.full_name
                .text-muted.d-inline.font-weight-normal
                  .slash
                  N2 Agent
              = @lerolero
        .col-12.col-md-12.col-lg-7
          .card
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
              .card-header
                %h4 Editar perfil
              .card-body
                .row
                  .form-group.col-lg-12 
                    .custom-file
                      = f.file_field :photo, class: "custom-file-input", id: "customFile"
                      = f.label :photo, "Foto de perfil", class: "custom-file-label"
                  .form-group.col-md-4.col-12
                    = f.label :first_name, 'Nome'
                    = f.text_field :first_name, autofocus: true, class: 'form-control'
                    .invalid-feedback
                      Por favor, preencha seu nome
                  .form-group.col-md-4.col-12
                    = f.label :last_name, 'Sobrenome'
                    = f.text_field :last_name, autofocus: true, class: 'form-control'
                    .invalid-feedback
                      Por favor, preencha seu sobrenome
                  .form-group.col-md-4.col-12
                    = f.label :nickname, 'Nickname'
                    = f.text_field :nickname, placeholder: 'Seu usuário no github', autofocus: true, class: 'form-control'
                    .invalid-feedback
                      Por favor, preencha seu nickname
                .row
                  .form-group.col-md-7.col-12
                    = f.label :email, 'E-mail'
                    = f.email_field :email, class: 'form-control'
                    .invalid-feedback
                      Por favor, preencha o e-mail
                  .form-group.col-md-5.col-12
                    = f.label :city, 'Cidade'
                    = f.text_field :city, class: 'form-control'

              .card-footer.text-right
                %button.btn.btn-primary Salvar mudanças