%li.nav-item.dropdown
  %a.nav-link.has-dropdown{"data-toggle" => "dropdown", :href => "#"}
    %i{:class => icon}
    %span= 'Burndown'
  %ul.dropdown-menu
    %li
      = link_to 'Criar Burndows', new_burndown_path
    %li
      = link_to 'Gráfico', burndowns_path

- if current_user.admin?
  %li.nav-item.dropdown
    %a.nav-link.has-dropdown{"data-toggle" => "dropdown", :href => "#"}
      %i{:class => icon}
      %span= 'Pontuação'
    %ul.dropdown-menu
      %li
        = link_to 'Estimativa de Pontuação', scores_path

  %li.nav-item.dropdown
    %a.nav-link.has-dropdown{"data-toggle" => "dropdown", :href => "#"}
      %i{:class => icon}
      %span= 'Administração'
    %ul.dropdown-menu
      %li
        = link_to 'Geral', admins_path