.main-sidebar.sidebar-style-2
  %aside#sidebar-wrapper
    .sidebar-brand
      = link_to 'Sustentação', root_path
    .sidebar-brand.sidebar-brand-sm
      = link_to 'n2', root_path
    %ul.sidebar-menu{"data-controller" => "sidebar"}
      %li{:class => "#{active_nav_item('home', 'index')}"}
        = link_to root_path, class: "nav-link" do
          %i.fas.fa-fire
          %span Dashboard
      %li.menu-header Controllers
      = render 'shared/sidebar_dropdown', icon: 'fas fa-file-alt'